<div class="show row">
  <div class="cover col-md-4">  </div>

  <div class="col-sm-8">
    <h3 class="album-title">  </h3>
    <p class="album-artist">  </p>


    <div class="track row">
      <% @tracks.each do |track| %>
      <div class="name col-md-8">  </div>
      <%= track.name %>
      <div class="minutes col-md-4">  min</div>
      <%= track.minutes %>
    </div>
    <% end %>


  </div>
</div>
